@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../../public/fonts/Nexa-Heavy.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}


:root{
  --primary-color: #4F46E5;
  --primary-hover-color: #3e38c4;
  --secondary-color: #1D1B3B;
  --secondary-hover-color: #2d2b5c;
  --accent-blue: #3182ce;
  --accent-blue-light: #e0e7ff;
  --danger-color: #ef4444;

  --text-dark: #1a202c;
  --text-medium: #374151;
  --text-light: #6b7280;
  --text-subtle: #9ca3af;

  --background-color: #f9fafb;
  --card-background: #ffffff;
  --badge-natural-bg: #E5E7EB;

  --border-color: #e5e7eb;
  --divider-color: #e5e7eb;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  --gradient-start-color: #E5E7EB;
  --gradient-mid-color: var(--primary-color);
  --gradient-end-color: var(--secondary-color);


  --background-blue: #1D1B3B;
  --background-diamond: #E5E7EB;
  --background-bluelight:#463fda;
  --color-white: #ffffff;
  --color-gray: #475569;
  --color-graylight:#6b7280;
  --color-wg:#f9fafb;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
